
nav{
  display: flex;
  // justify-content: space-between;
  box-shadow: 5px;
  background-color: #fff;

  #kol{
    max-width: 12em;
    max-height: 12em;
    padding: 10px;
    margin-left: 2em;
  }
  #jook{
    margin-left: 65em;
    i{
      width: 40px;
      height: 30px;
      font-size: 25px;
      font-weight: bolder;
      padding: 8px;
    }
  }
}
