<main>
  <div class="d-flex" id="mains">
    <div id="hool">
      <h1>Welcome to</h1>
      <h2>healthier life.</h2>
      <div id="good">
        <i class="bi bi-patch-check-fill fw-bolder ml-4"></i>
        <span>Lose Weight</span>
      </div>
      <div id="good1">
        <i class="bi bi-patch-check-fill fw-bolder ml-4"></i>
        <span>Build muscle</span>
      </div>
      <div id="good2">
        <i class="bi bi-patch-check-fill fw-bolder ml-4"></i>
        <span>Eat healthier</span>
      </div>
      <div class="mt-3">
        <button class="btn btn-info w-75 p-3 text-white fw-bolder">
          Create My Plans
        </button>
      </div>
    </div>
    <div id="big" class="ml-5">
      <img class="w-50 h-75 m-auto mt-5 animate__animated animate__bounce animate__delay-2s 2s;" src="some.png" alt="" />
    </div>
    <div class="d-block" id="two">
      <div>
        <img
          src="https://assets.yazio.com/frontend/images/badge-app-store-app-of-the-day.svg"
          alt="work oh"
        />
      </div>
      <div id="one">
        <img
          src="https://assets.yazio.com/frontend/images/badge-android-excellence.svg"
          alt="playstor"
        />
      </div>
      <div>
        <p>4.7 stars, over 1M ratings</p>
      </div>
      <div class="d-flex" id="f1">
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
      </div>
    </div>
  </div>
</main>

<div>
  <h1 class="text-center mt-3">Discover YAZIO</h1>
</div>

<div class="d-flex text-center justify-content-around mt-5">
  <div>
    <img
      src="https://images.yazio.com/frontend/yazio-features/en/calorie-counter.png?w=250"
      alt="orf"
    />
    <h4>Calorie Counter</h4>
    <p>Benefit from the fastest and</p>
    <p>most user-friendly calorie</p>
    <p>counter you've ever downloaded.</p>
  </div>
  <div>
    <img
      src="https://images.yazio.com/frontend/yazio-features/fasting.png?w=250"
      alt="for"
    />
    <h4>Intermittent Fasting</h4>
    <p>Our 16:8, 5:2 and 6:1 fasting plans</p>
    <p>and countdown feature make</p>
    <p>intermittent fasting a breeze!</p>
  </div>
  <div>
    <img
      src="https://images.yazio.com/frontend/yazio-features/en/recipes.png?w=250"
      alt="recipes"
    />
    <h4>Recipes</h4>
    <p>Gain access to more than 2,500</p>
    <p>recipes, tailored to your personal</p>
    <p>preferences.</p>
  </div>
  <div>
    <img
      src="https://images.yazio.com/frontend/yazio-features/tracking-ios.png?w=250"
      alt="iso"
    />
    <h4>Automatic Tracking</h4>
    <p>Connect with your fitness tracker</p>
    <p>and automatically track your</p>
    <p>activities and steps.</p>
  </div>
</div>
<hr class="w-75 m-auto mt-5" />
<div class="mt-5 text-center">
  <h1 id="h7" class="mt-5">Success Stories</h1>
</div>
<div id="boy">
  <div class="d-block" id="happi1">
    <img
      src="https://images.yazio.com/frontend/success-stories/84-success-story-amber.jpg?w=350"
      alt="voom"
    />
    <div class="d-flex" id="ss11">
      <img
        id="aya1"
        src="https://assets.yazio.com/frontend/images/icons.svg#large-quote-sign-other"
        alt="you"
      />
      <div id="fit1">
        <h6>Between running and biking every day,</h6>
        <h6>my weight has started coming down</h6>
      </div>
    </div>
    <div>
      <p class="fw-bolder">again and I have started seeing my body</p>
      <p class="fw-bolder">
        become very sculpted... <a href="##">Continue reading</a>
      </p>
    </div>
  </div>
  <div id="happi">
    <img
      src="https://images.yazio.com/frontend/success-stories/51-success-story-dennis.jpg?w=350"
      alt="nom"
    />
    <div class="d-flex" id="ss1">
      <img
        id="aya"
        src="https://assets.yazio.com/frontend/images/icons.svg#large-quote-sign-other"
        alt="you"
      />
      <div id="fit">
        <h6>Between running and biking every day,</h6>
        <h6>my weight has started coming down</h6>
      </div>
    </div>
    <div>
      <p class="fw-bolder">again and I have started seeing my body</p>
      <p class="fw-bolder">
        become very sculpted... <a href="##">Continue reading</a>
      </p>
    </div>
  </div>
</div>
<div class="m-auto text-center mt-5" id="vbt">
  <button class="btn btn-info m-auto text-center text-white p-3 w-25">
    All Success Stories
  </button>
</div>
<hr class="w-75 m-auto mt-5" />
<div>
  <h1 class="text-center mt-5">ABOUT US</h1>
</div>
<div class="d-flex justify-content-around mt-5" id="cook">
  <div id="lo">
    <img
      src="https://images.yazio.com/frontend/team/team-2021-10.jpg?w=345"
      alt=""
    />
  </div>
  <div id="ve">
    <p>Behind the YAZIO app, you’ll find our motivated</p>
    <p>and enthusiastic team. We truly believe in the</p>
    <p>transformative power of healthy eating. With</p>
    <p>YAZIO, we're helping people live healthier lives</p>
    <p class="text-center">through better nutrition.</p>
    <div class="text-center m-auto">
      <button class="btn btn-info p-3 w-75">Learn More</button>
    </div>
  </div>
</div>
<hr class="w-75 m-auto mt-5" />
<div class="mt-5">
    <h1 class="text-center">People Love YAZIO</h1>
</div>
<div class="text-center">
  <p class="fw-bolder">Hundreds of thousands of 5-star ratings</p>
</div>

<div class="d-flex m-auto justify-content-around mt-5">
  <div class="text-center text-warning">
    <h6>Maria, 42</h6>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <p>Exactly what I was looking for! Appealing</p>
    <p>design, clear and organized, great functions</p>
    <p>and foods that are easy to find. I tested the</p>
    <p>free version and then downloaded the PRO.</p>
    <p>Completely satisfied! 5 stars earned!</p>
  </div>
  <div class="text-center text-primary">
    <h6>Daniel, 408</h6>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <p>Exactly what I was looking for! Appealing</p>
    <p>design, clear and organized, great functions</p>
    <p>and foods that are easy to find. I tested the</p>
    <p>free version and then downloaded the PRO.</p>
    <p>Completely satisfied! 5 stars earned!</p>
  </div>
  <div class="text-center text-success">
    <h6>Nonso, 420</h6>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <p>Exactly what I was looking for! Appealing</p>
    <p>design, clear and organized, great functions</p>
    <p>and foods that are easy to find. I tested the</p>
    <p>free version and then downloaded the PRO.</p>
    <p>Completely satisfied! 5 stars earned!</p>
  </div>
</div>
<div>
  <hr class="w-75 m-auto mt-5">
</div>
<div>
  <h6 class="text-center mt-5">Download the YAZIO app</h6>
</div>
<div class="text-center p-3 d-flex" id="ddff">
  <img src="https://assets.yazio.com/frontend/images/button-app-store-en.svg" alt="ok">
  <img src="https://assets.yazio.com/frontend/images/button-play-store-en.svg" alt="oks">
</div>
<hr class="w-75 m-auto mt-5">
<div class="text-center mt-5">
  <button class="btn btn-info text-success">need help?</button>
</div>
<div class="text-center mt-5">
  <p class="mt-3">Copyright © 2024 DEV-NONSO. All rights reserved. <a href="##">contact</a> | <a href="##">privacy policy</a> | <a href="##">cookies</a> | <a href="##">cancel subscribction</a></p>
</div>


